// Common styles for all buttons
.btn {
width: 200px;
height: 50px;
font-weight: 700;
font-size: 16px;
line-height: 30px;
letter-spacing: 0.06em;
background-color: var(--accent);
border: var(--accent) ;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
color: var(--white-color);
align-items: center;
text-align: center;
cursor: pointer;
transition: background-color 250ms var(--cubic);

&:hover,
&:focus {
background-color: var(--btn-hover-color);
}
}
// Hero btn
.hero-btn {
 display: block;
font-family: inherit;
line-height: 1.8;
margin-right: auto;
margin-left: auto;
}
//Modal window btn
.modal-form__submit-btn {
 display: flex;
margin-top: 30px;
margin-left: auto;
margin-right: auto;
padding: 10px 55px;
}
// Footer btn
.ftr-subscription__form-btn {
 display: flex;
justify-content: center;
margin-left: 12px;
padding: 10px 28px;
 .ftr-subscription__form-btn-icons {
    margin-left: 10px;
}
}

