// Logo in header
.navigation__company-name {
    color: var(--accent);
font-family: 'Raleway';
font-weight: 700;
letter-spacing: 0.03em;
text-decoration: none;

@include mq(not-desktop) {
font-size: 24px;
line-height: 28px;
}

@include mq(desktop) {
font-size: 26px;
line-height: 1.2;
}

@include mq(tablet-only) {
margin-right: 88px;
}

@include mq(desktop) {
margin-right: 93px;
}
&--black {
    color: #000000;
}
// Logo in footer
&--white {
    color: #FFFFFF;
}
}


