body {
    color: #757575;
    font-family: 'Roboto', sans-serif;
}
.navigation__link--current {
    color: #2196F3;
}
.section {
    padding-top: 94px;
    padding-bottom: 94px;
}
.heading {
    font-weight: 700;
font-size: 36px;
line-height: 42px;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
margin-bottom: 50px;
}

