/* Footer styles */
.ftr {
    background-color: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
}
.adrs {
    color: #FFFFFF;
    font-family: 'Roboto';
font-style: normal;
font-size: 14px;
line-height: 1.7;
letter-spacing: 0.03em;
margin-top: 20px;
}
.link.adrs-link {
font-family: inherit;
font-style: normal;
font-size: 14px;
line-height: 1.7;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
transition: color 250ms var(--cubic);

&:hover, 
&:focus {
    color: #2196F3;
}
}

.adrs-link {
    display: inline-block;
    margin-top: 9px;
}
.ftr-list {
    display: flex;
    align-items:baseline;
    justify-content:flex-start; 
}
.ftr-list__item:first-child {
    margin-right: 70px;
}
/* Subscription form styles */
.ftr-subscription {
    margin-left: 93px;
}
.ftr-subscription__caption {
    display: inline-block;
font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #FFFFFF;
margin-bottom: 20px;
}
.ftr-subscription__form {
    display: flex;
    align-items: center;
    justify-content: center;
}
.ftr-subscription__form-input {
    width: 358px;
height: 50px;
padding: 15px 295px 15px 16px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
border-radius: 4px;
transition: border 250ms var(--cubic);

&:hover,
&:focus {
    border: 1px solid var(--accent);
}

&::placeholder {
    font-weight: 400;
font-size: 16px;
line-height: 20px;
display: flex;
align-items: center;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
}
}


