/* Footer styles */
.ftr {
    background-color: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
}
.ftr-list {
        @include mq(mobile-only) {
            align-items: center;
            justify-content: center;
        }

    @include mq(tablet-only) {
    display: flex;
    flex-wrap: wrap;
        align-items:baseline;
justify-content: center;
    }

    @include mq(desktop) {
    display: flex;
    align-items:baseline;
    justify-content:flex-start; 
}
}


.ftr-list__item {
    @include mq(mobile-only) {
        &:not(:last-child) {
            margin-bottom: 60px;
        }
    }
@include mq(not-desktop) {
    text-align: center;
}
@include mq(tablet-only) {
&:first-child {
margin-right: 165px;
}
}

@include mq(desktop) {
&:first-child {
    margin-right: 70px;
}
}
}

.ftr-list__item .navigation__company-name{
    margin: 0;
}
.address {
  @include mq(tablet-only) {
margin-bottom: 60px;  
}
}
.adrs {
    color: #FFFFFF;
    font-family: 'Roboto';
font-style: normal;
font-size: 14px;
line-height: 1.7;
letter-spacing: 0.03em;
margin-top: 20px;
}

.link.adrs-link {
font-family: inherit;
font-style: normal;
font-size: 14px;
line-height: 1.7;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
transition: color 250ms var(--cubic);

&:hover, 
&:focus {
    color: #2196F3;
}
}

.adrs-link {
    display: inline-block;
    margin-top: 9px;
}

/* Subscription form styles */
.ftr-subscription {
    @include mq(desktop) {
    margin-left: 93px;
    }
}
.ftr-subscription__caption {
    display: inline-block;
font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #FFFFFF;
margin-bottom: 20px;
}
.ftr-subscription__form {
    display: flex;
    align-items: center;
    justify-content: center;
      @include mq(not-desktop) {
display: block;    
}
}
.ftr-subscription__form-input {
    height: 50px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
border-radius: 4px;
transition: border 250ms var(--cubic);
padding: 15px;

 @include mq(mobile-only) {
width: 100%;
margin-bottom: 20px;
}

 @include mq(tablet-only) {
width: 450px;
margin-bottom: 20px;
}

@include mq(desktop) {
    width: 358px;
    padding: 15px 295px 15px 16px;
}

&:hover,
&:focus {
    border: 1px solid var(--accent);
}

&::placeholder {
    font-weight: 400;
font-size: 16px;
line-height: 20px;
display: flex;
align-items: center;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
}
}
.ftr-subscription__form-btn {
    @include mq(not-desktop) {
margin-right: auto;
margin-left: auto;
}
}