/* Occupation styles */
.occupation {
    background-color:var(--white-color);

    & .occupation__list-item::after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
    bottom: 0;
    left: 0;
}
}
.occupation__list {
    display: flex;
}
.occupation__list-img {
    width: 370px;
height: 294px;
}
.occupation__list-item {
    margin-right: 30px;
    position: relative;
    height: 294px;

&:last-child{
    margin-right: 0;
}
}
.occupation__list-title {
    color: var(--white-color);
    font-weight: 700;
font-size: 14px;
line-height: 16px;
text-align: center;
letter-spacing: 0.03em;
text-transform: uppercase;
position: relative;
bottom: 42px;
    z-index: 1;
}