/* Header style */
.hdr {
background-color: var(--white-color);
border-bottom: 1px solid #ECECEC;
}
.hdr__container {
    display: flex;
    align-items: center;
}
/* Navigation style */
.navigation {
    display: flex;
    align-items: center;
}
.navigation__link {
        position: relative;
        padding-top: 32px;
    padding-bottom: 32px;
    font-family: inherit;
    color: #212121;
font-weight: 500;
font-size: 14px;
line-height: 1.1;
letter-spacing: 0.02em;
transition: color 250ms var(--cubic);

&:hover, 
&:focus {
    color: #2196F3;
}
& .navigation__link--current::after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    background: var(--accent);
border-radius: 2px;
bottom: 0;
left: 0;
}
}
.navigation__list {
    display: flex;
    align-items: center;
}
.navigation__item {
    margin-right: 50px;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    &:last-child {
    margin-right: 0;
}
}
/* Contact list style */
.contacts {
    margin-left: auto;
    display: flex;
    align-items: center;  
}
.contacts__link {
    font-family: inherit;
   color: #757575; 
font-weight: 500;
font-size: 14px;
line-height: 1.1;
letter-spacing: 0.02em;
padding-top: 32px;
    padding-bottom: 32px;
    display: flex;
    align-items: center;
    transition: color 250ms var(--cubic);

&:hover,
&:focus {
   color: var(--accent); 
}
}
.contacts__mail {
    margin-right: 50px;
}
.contacts__icons {
    fill: currentColor;
    margin-right: 10px;
}
