/* Clients section styles */
.clients__list {
display: flex;
    align-items: center;
    justify-content: center; 

    @include mq(not-desktop) {  
        flex-wrap: wrap;
    }
}
.clients__list-item {
    height: 92px;
 @include mq(mobile-only) {
width: calc((100% / 2) - 30px);
 
&:nth-child(2n+1) {
    margin-right: 30px;
}
&:nth-child(-n+4) {
    margin-bottom: 30px;
}
 }

@include mq(tablet-only) {
    margin-right: 30px;
width: 226px;
    &:nth-child(3n + 3) {
        margin-right: 0;
    }
    &:nth-child(-n+3) {
        margin-bottom: 30px;
    }
}

    @include mq(desktop) {
        width: 170px;
        &:not(:last-child) {
    margin-right: 30px;
    }
}
}
.clients__list-link {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #AFB1B8;
border-radius: 4px;
    height: 92px;

&:hover,
&:focus {
    border-color: var(--accent);
}

&:hover .clients__list-icon,
&:focus .clients__list-icon{
    fill: var(--accent);
}
}

.clients__list-icon {
    fill: #AFB1B8;
    transition: fill 250ms var(--cubic);
}
